[flake8]
ignore = D203, E402
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__
max-complexity = 25
max-line-length = 90